:root {
  --fontPrincipal: "Roboto", sans-serif;
  --fontSecundaria: "Fira Sans Condensed", sans-serif;
  --colorPrincipal: #4caf50;
  --colorInput: #fffcc8;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: var(--fontPrincipal);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h2 {
  color: white;
  font-size: 2.6rem;
  font-family: var(--fontSecundaria);
  margin-bottom: 2rem;
}

/* HEADER */

.header {
  background-color: #fff;
  padding: 0.8rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 30;
}

.header img {
  margin-left: 2rem;
}

.foto-perfil {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

.perfil-interior {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 8rem;
}

.perfil-interior p {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-left: 4.5rem;
  margin-bottom: 0.5rem;
}

.perfil-interior a {
  text-decoration: none;
  color: var(--colorPrincipal);
  font-size: 1.2rem;
  margin-left: 1rem;
}

nav {
  background-color: #4caf50;
  position: fixed;
  top: 5rem;
  width: 100%;
  padding: 1.5rem 0rem;
  padding-left: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
  transition: all 0.3s;
}

nav a:hover {
  background-color: #459c48;
}

/* MENU LATERAL */

.menu-lateral {
  position: fixed;
  background-color: #444444;
  top: 9.8rem;
  width: 23rem;
  height: 100%;
  padding: 3rem 0rem;
}

.menu-lateral h2 {
  font-family: var(--fontPrincipal);
  margin-left: 3rem;
  font-weight: 300;
}

.menu-lateral a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  padding: 0.5rem 3rem;
  display: block;
  transition: all 0.3s;
}

.menu-lateral a:hover {
  background-color: #666666;
  padding: 0.5rem 3rem;
}

/* DECLARACIÓN JURADA */
main {
  margin-top: 12rem;
  margin-left: 25.5rem;
}

.declaracion {
  background-color: #009688;
  width: 99%;
  height: 30%;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: var(--fontPrincipal);
  font-weight: 900;
  text-transform: uppercase;
}

.declaracion p {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 600;
}

.declaracion p:last-of-type {
  margin-top: 2rem;
  display: inline-block;
}

.boton {
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
  background-color: var(--colorPrincipal);
  transition: all 0.2s;
}

.boton-declaracion {
  background-color: #fff;
  color: #000;
  display: inline-block;
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.boton-declaracion:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  text-align: end;
  margin-right: 2rem;
}

.materia {
  background-color: #eeeeee;
  padding-left: 1rem;
  width: 99%;
  display: flex;
  align-items: flex-start;
  gap: 25rem;
  height: 8rem;
  transition: all 0.3s;
  margin-bottom: 2rem;
}

.materia:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.materia h3 {
  margin: 0;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-transform: none;
}

.materia p {
  font-size: 1.2rem;
}

.diseño-grafico {
  gap: 13.5rem;
}

.icono {
  font-size: 3.5rem;
  padding: 1.5rem 2rem;
  padding-bottom: 3rem;
  color: #444444;
  transition: all 0.1s;
}

.icono:hover {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.icono-puntos {
  position: relative;
  bottom: 2rem;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.icono-puntos {
  cursor: pointer;
}

.h2 {
  color: #000;
  font-weight: 100;
  margin-top: 2rem;
}

/* FOOTER */

footer {
  margin-left: 25.5rem;
}

.footer {
  border-top: 0.1rem solid #eeeeee;
  padding: 2rem;
  text-align: center;
  width: 99%;
  margin-top: 3rem;
  font-size: 2rem;
}
