:root {
  --fontPrincipal: "Roboto", sans-serif;
  --fontSecundaria: "Fira Sans Condensed", sans-serif;
  --colorPrincipal: #4caf50;
  --colorInput: #fffcc8;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-image: url(../img/fondo-trama.png);
}

h2 {
  color: white;
  font-size: 2.6rem;
  font-family: var(--fontSecundaria);
  margin-bottom: 2rem;
}

/* HEADER */

.header {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 2.5rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 30;
}

.header img {
  margin-left: 2rem;
}

/* MAIN */

.fondo-home {
  background-image: url(../img/foto-home-1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 57.5rem;
  position: relative;
  bottom: 2.5rem;
  z-index: 10;
}

.login {
  width: 40rem;
  height: 50rem;
  background-color: var(--colorPrincipal);
  position: absolute;
  right: 0;
  margin: 4rem 3rem 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.login-interno {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 10rem;
}

.form {
  background-color: white;
  width: 100%;
  height: 33.5rem;
  display: flex;
  font-family: var(--fontPrincipal);
  font-size: 1.5rem;
  flex-direction: column;
  padding: 2rem;
  padding-top: 1rem;
}

.form form {
  display: flex;
  flex-direction: column;
}
label {
  margin: 1rem 0;
}

input {
  border: none;
  border-bottom: 0.1rem solid #808080;
  outline: none;
  background-color: var(--colorInput);
  padding: 0.8rem 0;
}

.boton {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  text-decoration: none;
  background-color: var(--colorPrincipal);
}

.boton-ingresar {
  background-color: #2196f3;
}

.olvide-contraseña {
  color: #2196f3;
  text-align: center;
  margin-top: 2rem;
}

.boton-cambiar {
  background-color: #3f51b5;
}

.linea {
  border-bottom: 1px dashed #000;
  position: relative;
  top: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 98%;
  margin: 0 auto;
  row-gap: 3rem;
  column-gap: 1.5rem;
}

.general {
  background-color: white;
  border-left: 0.5rem solid var(--colorPrincipal);
  padding: 1.5rem;
}

.general h3 {
  font-size: 1.6rem;
  color: var(--colorPrincipal);
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: var(--fontSecundaria);
}
.general p {
  font-size: 1.8rem;
  font-weight: 500;
  display: block;
  font-family: var(--fontSecundaria);
}

.general img {
  width: 100%;
}

.div1 {
  grid-column: 1/7;
  font-family: var(--fontSecundaria);
}

.div1 a {
  font-size: 1.6rem;
  padding: 0.5rem;
}

.div1 p {
  display: inline-block;
}
.div2 {
  grid-row: 2/3;
  grid-column: 1/4;
}

.div3 {
  grid-row: 2/3;
  grid-column: 4/7;
}

.div4 {
  grid-row: 3/4;
  grid-column: 1/3;
  padding-top: 0;
}

.div4 img {
  max-width: 85%;
  margin: 0 auto;
  display: block;
}

.div4 h3 {
  color: #ff9800;
  text-align: center;
  font-family: var(--fontSecundaria);
  margin-top: 2rem;
}

.div4 p {
  text-align: center;
}

.div5 {
  grid-row: 3/4;
  grid-column: 3/5;
  padding-top: 0rem;
}

.div5 img {
  display: block;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.div5 h3 {
  text-align: center;
  color: #2196f3;
}

.div5 p {
  text-align: center;
}

.div6 {
  grid-row: 3/4;
  grid-column: 5/7;
  padding-top: 0;
}

.div6 img {
  width: 85%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.div6 h3 {
  text-align: center;
  color: #f55448;
}

.div6 p {
  text-align: center;
}
